.introducao-bg{
  background-color: #000000;
  color: #ffffff;
  box-shadow: inset 0 -7.5rem #ffffff;
}

.introducao{
  padding: 0 1.25rem;
  box-sizing: border-box;
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
}

.introducao img{
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}
.introducao-conteudo{
  align-self: flex-end;
  padding-bottom: 12.5rem;
}

.introducao-conteudo h1{
  font-size: 4rem;
  line-height: 1.125;
  margin-bottom: 2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.introducao-conteudo h1 span{
  color: #FFBB00;
}
.introducao-conteudo p{
  font-size: 1.5rem;
  line-height: 1.5;
  color: #b2b2b2;
  margin-bottom: 1.25rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

@media (max-width: 1200px){
  .introducao-conteudo h1{
    font-size: 3rem;
  }
  .introducao-conteudo p{
    font-size: 1.125rem;
  }
}

@media (max-width: 800px){
  .introducao-bg{
    background-color: #111111;
    padding-top: 2.5rem;
  }

  .introducao{
    grid-template-columns: 1fr;
    gap: 2rem;
    box-shadow: inset 0 -3.75rem #ffffff;
  }

  .introducao img{
    width: 100%;
    height: 18.75rem;
  }

  .introducao-conteudo h1{
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .introducao-conteudo{
    padding-bottom: 0rem;
  }
}
